
<!--Button  -->
<h1>Hello! You are on the Booking create page! </h1>

<%= simple_form_for ([@boat, @booking]) do |f| %>
  <%= f.input :opening_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>


<!--  -->
