<div class="banner-container">
  <div class="banner-nav-bar">

  </div>

  <div class="banner-info">
    <div>
      <h1 class="banner-title">WELCOME TO AIRBOATnB</h1>
      <p class="banner-subtitle">Home to the best boats!</p>
      <div class="btn-infos">
        <div>
        </div>
        <div class="input-group rounded">
          <a href="/boats" class="btn btn-primary" title="Take me anywhere">
            <i class="fa-solid fa-ship fa-beat"></i>
          </a>
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
  <% if @boats.present? %>
    <!-- Displaying boat information -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @boats.each do |boat| %>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= boat.title %></h5>
              <p class="card-text">Description: <%= boat.description %></p>
                <p>Price: <%= boat.price %></p>
                <p>Location: <%= boat.location %></p>
              <!-- Add more boat information as needed -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No boats available.</p>
  <% end %>
    </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-body" href="https://simplerent.com/">SimpleRent™</a>
  </div>
  <!-- Copyright -->
</footer>
