.mapboxgl-popup {
  width: 500px;
  // background:#0E6EFB;
}

.mapboxgl-popup-content {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  // color: white;
}

.mapboxgl-popup-close-button {
  color: #0E6EFB;
}
